body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turn {
    padding-top: 30px;
}

.gameboard {
    padding: 30px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

}

.cell {
    height: 10vh;
    width: 10vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}