body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard {
    padding: 30px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

}

.cell {
    height: 80px;
    width: 80px;
    border: 2px solid black;
}